apiVersion: apps/v1
kind: Deployment
metadata:
  name: starlink-exporter
  labels:
    app: starlink-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: starlink-exporter
  template:
    metadata:
      labels:
        app: starlink-exporter
    spec:
      containers:
        - name: starlink-exporter
          image: ghcr.io/joshuasing/starlink_exporter:v0.7.4
          args:
            - -dish=192.168.100.1:9200
            - -listen=:9451
          ports:
            - name: metrics
              containerPort: 9451
              protocol: TCP
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
          livenessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 5
            periodSeconds: 10
      restartPolicy: Always
