apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media-v2

resources:
- shared-pvcs.yaml
- local-storage.yaml
- resources/external-truenas-svc.yaml
- resources/jellyfin-ingress.yaml
# Removed - now using Oracle WireGuard jumphost
# - resources/jellyfin-public-ingress.yaml
- resources/jellyseerr-public-ingress.yaml
- resources/local-asandov-ingresses.yaml
- configs/setup-rbac.yaml
- windscribe-openvpn-configmap.yaml

generators:
- secrets-generator.yaml

# VPN sidecar for SABnzbd and password substitution
patches:
- target:
    kind: Deployment
    name: sabnzbd
  path: patches/add-gluetun-to-sabnzbd.yaml
- target:
    kind: Deployment
    name: sabnzbd
  path: patches/sabnzbd-envsubst-init.yaml

helmCharts:
- name: sonarr
  repo: https://media-servarr.shw.al/charts
  version: 0.8.4
  releaseName: sonarr
  namespace: media-v2
  valuesFile: values-overrides/sonarr-values.yaml
    
- name: radarr
  repo: https://media-servarr.shw.al/charts
  version: 0.18.0
  releaseName: radarr
  namespace: media-v2
  valuesFile: values-overrides/radarr-values.yaml

- name: prowlarr
  repo: https://media-servarr.shw.al/charts
  version: 0.16.0
  releaseName: prowlarr
  namespace: media-v2
  valuesFile: values-overrides/prowlarr-values.yaml

- name: sabnzbd
  repo: https://media-servarr.shw.al/charts
  version: 0.6.5
  releaseName: sabnzbd
  namespace: media-v2
  valuesFile: values-overrides/sabnzbd-values.yaml

- name: bazarr
  repo: https://media-servarr.shw.al/charts
  version: 0.8.3
  releaseName: bazarr
  namespace: media-v2
  valuesFile: values-overrides/bazarr-values.yaml

- name: jellyseerr
  repo: https://media-servarr.shw.al/charts
  version: 0.5.0
  releaseName: jellyseerr
  namespace: media-v2
  valuesFile: values-overrides/jellyseerr-values.yaml
