csiDriver:
  name: "nfs"
storageClasses:
- name: nfs
  defaultClass: false
  reclaimPolicy: Delete
  volumeBindingMode: Immediate
  allowVolumeExpansion: true
  parameters:
    fsType: nfs
    detachedVolumesFromSnapshots: "false"
  mountOptions:
  - noatime
  - nfsvers=4
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:
volumeSnapshotClasses:
- name: nfs
  parameters:
    detachedSnapshots: "true"

controller:
  driver:
    image:
      tag: next
    imagePullPolicy: Always
  externalResizer:
    enabled: true

node:
  driver:
    image:
      tag: next
    imagePullPolicy: Always

# NOTE: Driver config is stored in secrets/driver-config.enc.yaml (SOPS encrypted)
# The existingConfigSecret below overrides the config section - changes here have no effect
driver:
  existingConfigSecret: nfs-csi-democratic-csi-driver-config
  config:  # NOT USED - kept for reference only
    driver: freenas-api-nfs
    instance_id:
    httpConnection:
      protocol: http
      host: truenas.asandov.local
      port: 80
      apiVersion: 2
      #apiKey: get your own key
      allowInsecure: true
    zfs:
      datasetParentName: ST6000NM0095-pool0/media/nfs/v
      detachedSnapshotsDatasetParentName: ST6000NM0095-pool0/media/nfs/s
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetPermissionsMode: "0775"
      datasetPermissionsUser: 1000
      datasetPermissionsGroup: 3001
    nfs:
      shareHost: truenas.asandov.local
      shareAlldirs: false
      shareAllowedHosts: []
      shareAllowedNetworks: []
      shareMaprootUser: truenas_admin
      shareMaprootGroup: truenas_admin
      shareMapallUser: ""
      shareMapallGroup: ""

