apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 77.12.0
    releaseName: kube-prometheus-stack
    namespace: monitoring
    valuesFile: values.yaml

patches:
  - path: patches/admission-role-patch.yaml
