# kube-prometheus-stack values
# Non-default values only

prometheus:
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
    hosts:
      - prometheus.asandov.local
    paths:
      - /
    pathType: Prefix
  prometheusSpec:
    remoteWrite:
      - url: http://truenas.asandov.local:9090/api/v1/write
    retention: 48h  # default: 10d
    serviceMonitorSelectorNilUsesHelmValues: false  # default: true
    ruleSelectorNilUsesHelmValues: false  # default: true
    podMonitorSelectorNilUsesHelmValues: false  # default: true

alertmanager:
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
    hosts:
      - alerts.asandov.local
    paths:
      - /
    pathType: Prefix

grafana:
  enabled: false  # default: true
