# kube-prometheus-stack values
# Non-default values only

prometheus:
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
    hosts:
      - prometheus.asandov.local
    paths:
      - /
    pathType: Prefix
  prometheusSpec:
    remoteWrite:
      - url: http://truenas.asandov.local:9090/api/v1/write
    retention: 48h  # default: 10d
    serviceMonitorSelectorNilUsesHelmValues: false  # default: true
    ruleSelectorNilUsesHelmValues: false  # default: true
    podMonitorSelectorNilUsesHelmValues: false  # default: true
    additionalScrapeConfigs:
      - job_name: "truenas-gpu"
        static_configs:
          - targets: ["truenas.asandov.local:9835"]
            labels:
              instance: "truenas"

alertmanager:
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
    hosts:
      - alerts.asandov.local
    paths:
      - /
    pathType: Prefix

grafana:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
      external-dns.alpha.kubernetes.io/target: 10.0.7.201
    hosts:
      - grafana.asandov.local
    path: /
  # TrueNAS dashboard provisioning
  extraConfigmapMounts:
    - name: dashboard-truenas-overview
      mountPath: /etc/grafana/provisioning/dashboards/truenas/truenas-overview
      configMap: dashboard-truenas-overview
      readOnly: true
    - name: dashboard-truenas-app-health
      mountPath: /etc/grafana/provisioning/dashboards/truenas/app-health-overview
      configMap: dashboard-truenas-app-health
      readOnly: true
    - name: dashboard-truenas-disk-insight
      mountPath: /etc/grafana/provisioning/dashboards/truenas/truenas-disk-insight
      configMap: dashboard-truenas-disk-insight
      readOnly: true
    - name: dashboard-truenas-temperature
      mountPath: /etc/grafana/provisioning/dashboards/truenas/truenas-temperature
      configMap: dashboard-truenas-temperature
      readOnly: true
    - name: dashboard-nvidia-gpu
      mountPath: /etc/grafana/provisioning/dashboards/truenas/nvidia-gpu
      configMap: dashboard-nvidia-gpu
      readOnly: true
    - name: dashboard-ups-status
      mountPath: /etc/grafana/provisioning/dashboards/truenas/ups-status
      configMap: dashboard-ups-status
      readOnly: true
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: "truenas"
          orgId: 1
          folder: "TrueNAS"
          type: file
          disableDeletion: false
          editable: true
          allowUiUpdates: true
          options:
            path: /etc/grafana/provisioning/dashboards/truenas
