apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - resources/ingress.yaml
  - resources/applicationset.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.3.7
    releaseName: talos-argo
    namespace: argocd
    valuesFile: values-override.yaml
