apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: twingate

buildMetadata: [originAnnotations]

generators:
  - secrets-generator.yaml

helmCharts:
  - name: connector
    repo: https://twingate.github.io/helm-charts
    version: 0.1.32
    releaseName: twingate-op
    namespace: twingate
    valuesInline:
      connector:
        network: asandov
        existingSecret: "twingate-op-connector"
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - talos-eggbert
