# Inherited from original media deployment
persistentVolumeClaims:
  prowlarr-config:
    requestStorage: '5Gi'
    storageClassName: 'nfs'

# Configure URL base to serve from root
application:
  urlBase: ""
  config:
    contents: |
      <Config>
        <LogLevel>info</LogLevel>
        <EnableSsl>False</EnableSsl>
        <Port>9696</Port>
        <UrlBase></UrlBase>
        <BindAddress>*</BindAddress>
        <ApiKey>$apiKey</ApiKey>
        <AnalyticsEnabled>False</AnalyticsEnabled>
        <AuthenticationMethod>External</AuthenticationMethod>
        <UpdateMechanism>Docker</UpdateMechanism>
        <Branch>master</Branch>
        <InstanceName>Prowlarr</InstanceName>
      </Config>

# Use specific UID/GID that matches TrueNAS NFS user
deployment:
  nodeSelector:
    kubernetes.io/hostname: talos-ramhaus
  serviceAccountName: media-apps
  volumes:
    config:
      persistentVolumeClaim:
        claimName: 'prowlarr-config'
    downloads:
      persistentVolumeClaim:
        claimName: 'media-downloads'
    media-library:
      persistentVolumeClaim:
        claimName: 'media-library'
  container:
    image:
      tag: '2.1.5.5216-ls131'
    env:
      - name: PUID
        value: "1000"
      - name: PGID
        value: "3001"
    resources:
      requests:
        memory: "256Mi"
        cpu: "100m"
      limits:
        memory: "1Gi"
        cpu: "1000m"
    volumeMounts:
      - name: 'config'
        mountPath: '/config'
      - name: 'downloads'
        mountPath: '/downloads'
      - name: 'media-library'
        mountPath: '/media/film'
        subPath: 'film'
      - name: 'media-library'
        mountPath: '/media/tv'
        subPath: 'tv'

ingress:
  enabled: true
  className: traefik
  host: prowlarr.asandov.local
  path: /
  pathType: Prefix
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.middlewares: authentik-authentik@kubernetescrd