# Inherited from original media deployment
persistentVolumeClaims:
  sabnzbd-config:
    requestStorage: '5Gi'
    storageClassName: 'nfs'

# Application configuration with Eweka news server
application:
  config:
    filename: 'sabnzbd.ini'
    contents: |
      [misc]
      language = en
      log_level = 2
      queue_limit = 20
      port = 8080
      api_key = f0237ecaa8419fc7f1f2d8d4cfb75c11
      nzb_key = abc123nzbkey456
      download_dir = /downloads/incomplete
      complete_dir = /downloads/complete
      host_whitelist = sabnzbd,localhost,sabnzbd.media-v2.svc.cluster.local,radarr,sonarr,prowlarr
      auto_browser = 0
      par2_multicore = 1
      folder_rename = 1
      pause_on_pwrar = 1
      ignore_samples = 1
      deobfuscate_final_filenames = 1
      direct_unpack = 1
      history_retention = 0
      enable_recursive = 1
      
      [servers]
      [[news.eweka.nl]]
      name = news.eweka.nl
      displayname = Eweka
      host = news.eweka.nl
      port = 563
      username = 48ef10df07d993e3
      password = "$ewekaPassword"
      connections = 50
      ssl = 1
      ssl_verify = 2
      enable = 1
      priority = 0
      
      [[news.newshosting.com]]
      name = news.newshosting.com
      displayname = Newshosting
      host = news.newshosting.com
      port = 563
      username = olgavcy7wc
      password = "$newshostingPassword"
      connections = 100
      ssl = 1
      ssl_verify = 2
      enable = 1
      priority = 0
      
      [categories]
      [[*]]
      name = *
      order = 0
      pp = 3
      script = None
      dir =
      newzbin =
      priority = 0
      [[tv]]
      name = tv
      order = 1
      pp = 3
      script = None
      dir = tv
      newzbin = tv,tv/sd,tv/hd,tv/uhd
      priority = 0
      [[movies]]
      name = movies
      order = 2
      pp = 3
      script = None
      dir = movies
      newzbin = movies,movies/sd,movies/hd,movies/uhd,movies/3d
      priority = 0
      [[anime]]
      name = anime
      order = 3
      pp = 3
      script = None
      dir = anime
      newzbin = tv/anime,movies/anime
      priority = 0
      [[prowlarr]]
      name = prowlarr
      order = 4
      pp = 3
      script = None
      dir = prowlarr
      newzbin =
      priority = 0
    # Secrets are provided via SOPS-encrypted secret, not generated by Helm
    secrets: []

# Configure deployment with volumes to use shared PVCs
deployment:
  securityContext:
    fsGroup: 3001
  container:
    image:
      tag: "4.5.4"
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "2Gi"
        cpu: "2000m"
    env:
      - name: PUID
        value: "1000"
      - name: PGID
        value: "3001"
      - name: 'ewekaPassword'
        valueFrom:
          secretKeyRef:
            name: sabnzbd-passwords
            key: ewekaPassword
      - name: 'newshostingPassword'
        valueFrom:
          secretKeyRef:
            name: sabnzbd-passwords
            key: newshostingPassword
    volumeMounts:
      - name: downloads
        mountPath: /downloads
  # Configure volumes to use shared PVCs
  volumes:
    config:
      persistentVolumeClaim:
        claimName: 'sabnzbd-config'
    downloads:
      persistentVolumeClaim:
        claimName: 'media-downloads'

ingress:
  enabled: true
  className: traefik
  host: sabnzbd.asandov.local
  path: /
  pathType: Prefix
  annotations:
    external-dns.alpha.kubernetes.io/hostname: sabnzbd.asandov.local
    traefik.ingress.kubernetes.io/router.middlewares: authentik-authentik@kubernetescrd