apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: authentik

resources:
  - namespace.yaml
  - resources/cnpg-storage.yaml
  - resources/traefik-middleware.yaml
  - resources/cloudflare-ingress.yaml
  - resources/ldap-ingressroute.yaml
  - resources/ldap-dns.yaml
  - resources/local-asandov-ingress.yaml

generators:
  - secrets-generator.yaml

helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    version: 2025.12.3
    releaseName: authentik
    namespace: authentik
    valuesFile: values.yaml
