apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: authentik

resources:
  - namespace.yaml
  - resources/cnpg-storage.yaml
  - resources/cnpg-cluster.yaml

generators:
  - secrets-generator.yaml

helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    version: 2025.10.3
    releaseName: authentik
    namespace: authentik
    valuesFile: values.yaml
