# cert-manager Helm values

# Install CRDs with Helm
crds:
  enabled: true

# Resource limits
resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    memory: 128Mi

webhook:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 64Mi

cainjector:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 128Mi
