apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: talos-apps
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: https://github.com/SuperCoolAlan/homelab-manifests.git
        revision: torrents
        directories:
          # Cluster services
          - path: talos/cluster-services/*
          # Monitoring sub-apps
          - path: talos/monitoring/*
          # Authentik
          - path: talos/authentik
          # Media apps
          - path: talos/media-v2
          - path: talos/qbittorrent
          # Tracearr
          - path: talos/tracearr
          # Status page
          - path: talos/status
          # Twingate
          - path: talos/twingate
  template:
    metadata:
      name: '{{.path.basename}}'
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: https://github.com/SuperCoolAlan/homelab-manifests.git
        targetRevision: torrents
        path: '{{.path.path}}'
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        syncOptions:
          - ServerSideApply=true
      ignoreDifferences:
        - group: apiextensions.k8s.io
          kind: CustomResourceDefinition
          jsonPointers:
            - /status
            - /spec/conversion/webhook/clientConfig/caBundle
