image:
  tag: "2.2.2"
  args: ["--voice", "en_US-lessac-medium"]

service:
  type: LoadBalancer

nodeSelector:
  kubernetes.io/hostname: talos-ramhaus

persistence:
  data:
    enabled: true
    storageClass: nfs
    size: 5Gi

livenessProbe:
  httpGet: null
  tcpSocket:
    port: http
  initialDelaySeconds: 30

readinessProbe:
  httpGet: null
  tcpSocket:
    port: http

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: "2"
    memory: 1Gi
